<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontColor</key>
	<array>
		<string>#FFFFFF</string>
		<string>#FF9B9B</string>
		<string>#FF3744</string>
		<string>#8D0000</string>
		<string>#FF9400</string>
		<string>#AD6800</string>
		<string>#FFE900</string>
		<string>#8F8300</string>
		<string>#4CD600</string>
		<string>#256700</string>
		<string>#00D7E0</string>
		<string>#005D61</string>
		<string>#2190FF</string>
		<string>#003A75</string>
		<string>#AD16E0</string>
		<string>#45005C</string>
		<string>#666666</string>
		<string>#222222</string>
	</array>
	<key>ShadowColor</key>
	<array>
		<string>no_color</string>
		<string>#FFFFFF</string>
		<string>#FF9B9B</string>
		<string>#FF3744</string>
		<string>#8D0000</string>
		<string>#FF9400</string>
		<string>#AD6800</string>
		<string>#FFE900</string>
		<string>#8F8300</string>
		<string>#4CD600</string>
		<string>#256700</string>
		<string>#00D7E0</string>
		<string>#005D61</string>
		<string>#2190FF</string>
		<string>#003A75</string>
		<string>#AD16E0</string>
		<string>#45005C</string>
		<string>#666666</string>
		<string>#222222</string>
	</array>
	<key>SrokeColor</key>
	<array>
		<string>no_color</string>
		<string>#FFFFFF</string>
		<string>#FF9B9B</string>
		<string>#FF3744</string>
		<string>#8D0000</string>
		<string>#FF9400</string>
		<string>#AD6800</string>
		<string>#FFE900</string>
		<string>#8F8300</string>
		<string>#4CD600</string>
		<string>#256700</string>
		<string>#00D7E0</string>
		<string>#005D61</string>
		<string>#2190FF</string>
		<string>#003A75</string>
		<string>#AD16E0</string>
		<string>#45005C</string>
		<string>#666666</string>
		<string>#222222</string>
	</array>
</dict>
</plist>
